.carousel-inner img {
    width: 100%;
    height: 91%;
}
h3,p {
    color: black;
}
.carousel-indicators li {
    background-color: black;
}


    /* =========================  Modal Styling Begin =================================  */

.main-section{
    padding: 15px;
    background:#f1f1f1;
}
.custom-file-control::after {
    content: "Choose file...";
}
.custom-file-control::before {
    content: "Browse";
}

    /* =========================  Modal Styling End =================================  */


    /* =========================  image uploader Styling Begin =================================  */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

    /* =========================  image uploader Styling End =================================  */

    /* =========================  user page Styling starts from here ========================= */
body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../images/image3.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-data
{
    width: 720px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.table,tr{
    border: 2px solid white;
}

.table,th,td
{
    color: white;
}

    /* =========================  user page Styling ends here ========================= */